{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<h1>Card game</h1>
        <ul>
            <li><a href="{{ path('card_deck') }}">Deck</li>
            <li><a href="{{ path('card_deck_shuffle') }}">Shuffle Deck</a></li>
            <li><a href="{{ path('card_deck_draw') }}">Draw</a></li>
        </ul>
<br>
<p>Här är en genomgång över samtliga applikationsklasser samt struktur på klasserna och dess relationer som används i min konstruktion för 'Card Game'.</p>

<p>Jag har även inkluderat ett UML-klass diagram som visualiserar strukturen och relationerna.</p>

<br>
<p><b>Card</b> - Representerar ett enskilt spelkort med egenskaper för färg (suit), rank (värde på kortet, till exempel "Kung" eller "Ess") samt ett numeriskt värde (value).</p>
<p><b>CardGraphic</b> - En subklass till Card som innehåller en rank till en symbol som representerar kortet.</p>
<p><b>CardGameController</b> - Hanterar spelrelaterad logik för kortleken, såsom att visa kortleken, dra kort, och visa korten som har dragits. Denna controller innehåller flera rutter (routes) som definierar olika funktioner i kortspelet. Controllern använder Card-klassen för att representera varje enskilt kort i kortleken. När kort dras eller visas, skapas och hanteras instanser av Card-klassen inom kontrollern. Funktionen för att initialisera kortleken (initializeDeck) skapar kort som är instanser av Card-klassen.</p>
<br>
<img src="{{ asset('img/UMLCardgame.jpg') }}" alt="" class="uml">
<br>

{% endblock %}