{% extends 'base.html.twig' %}

{% block title %}Draw Cards{% endblock %}

{% block body %}
<h1>Drawn Cards</h1>
<div class="card-container">
    {% if cards is not empty %}
        {% for card in cards %}
            <div class="card">
                <span class="card-value">{{ card.value }}</span>
                <span class="card-suit">{{ card.suit }}</span>
            </div>
        {% endfor %}
    {% else %}
        <p>No cards drawn yet.</p>
    {% endif %}
</div>
<p>Remaining cards in deck: {{ remainingCards }}</p>
{% endblock %}
