{% extends 'base.html.twig' %}

{% block title %}Deck of Cards{% endblock %}

{% block body %}
    <h1>Deck of Cards</h1>
    <div class="card-container">
        {# Loop through each card and display its suit and value #}
        {% for card in cards %}
            <div class="card">
                <span class="card-value">{{ card.value }}</span>
                <span class="card-suit">{{ card.suit }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
