{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Session</h1>
        <p>Här kommer det att vara en session.</p>
        <br>
        <li><a href="{{ path('api_index') }}">Klicka här för att komma till min 'api/' route </a></li>
        <br>

{% endblock %}
