{% extends 'base.html.twig' %}

{% block title %}Shuffled Deck{% endblock %}

{% block body %}
    <h1>Shuffled Deck</h1>
    <div class="card-container">
        {% for card in deck %}
            <div class="card">
                <span class="card-value">{{ card.value }}</span>
                <span class="card-suit">{{ card.suit }}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
