html {
   
    text-align: center;
    text-decoration: none !important; 
}

body {
    background-color: #eee;
}

body {
    position: relative;
    margin: 0 auto;
    min-height: 100vh;
    /*max-width: 400px; */
}

main { 
    width: 80%;
    margin: 0 auto;
}

/* header-style
*/
.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 250px;
}

.site-title {
    font-size: 4em;
    margin: 0 auto;
    color: #fff;
}

/* nav-bar
*/
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
 ul li {
    margin-right: 10px;
    margin: 0 auto;
  }
  
  /* footer-style */

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff782a;
    width: 100%;
    height: 50px;
    position: absolute; /* Use 'absolute' for positioning at the bottom of the page */
    bottom: 0; /* Place it at the bottom of the page */
    left: 0;
}


.footer a {
    color: rgb(255, 255, 255);
}

.footer p {
    color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
}

.container {
    display: flex;
    margin-top: 50px;
  }
  
  .side-column {
    flex: 1;
    /* Additional styles for the left column */
  }
  
  .main-column {
    flex: 1;
    /* Additional styles for the right column */
  }

/* img-style
*/
.catpic {
    width: 250px;
    height: 250px;
}

.github {
    width: 450px;
    height: 250px;
}

.uml {
    width: 650px;
    height: 450px;
}

/* misc-style
*/

#timestamp-container {
    font-size: 18px;
    font-weight: bold;
  }

  .presentation {
    text-align: left;
  }

/* Game-style
*/

  input {
    font-size: 1em;
}


.die {
    font-size: 2em;
}

.flash-success {
    padding: 0.5em;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.flash-warning:before {
    content: "⚠";
}

.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*Card/Deck-list
*/
tbody {
    display: inline-block;
}

tr {
    display: inline-block;
}

table {
    display: inline-block;
}

