{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <img src="{{ asset('img/cat.jpg') }}" alt="" class="catpic">
        </a>
        <p>Jag är skaparen.</p>
        <br>
        <p>Jag är en 30-årig man som gillar att kalla mig själv för en "ambitiös drömmare". Efter att ha avslutat mina studier 2015 har jag försökt navigera mig igenom livet genom att utforska olika karriärmöjligheter och hitta min passion.

            Just nu jobbar jag på ett företag som jag inte är helt nöjd med, men jag trivs med mina kollegor och det ger mig tid att fundera över vad jag vill göra härnäst. På min fritid gillar jag att skriva, lyssna på musik och träffa nya människor.
            
            Jag har också en envis dröm om att resa jorden runt och upptäcka nya kulturer och platser. Kanske en dag kommer jag att våga ta steget och göra det till verklighet. Men för nu tar jag livet en dag i taget och ser fram emot vad som helst som livet har att erbjuda!</p>
{% endblock %}
