{% extends 'base.html.twig' %}

{% block body %}
    <h1>API Routes</h1>
    <ul>
        {% for route in routes %}
        <li><a href="{{ path('api_quote') }}">{{ route.path }}</a> - {{ route.description }}</li>
        {% endfor %}
    </ul>
{% endblock %}
